.one-row {
    width: 100%;
    border-bottom: solid 2px black;
    content: "";
    clear: both;
}

.one-row:nth-child(2n) {
    background-color: whitesmoke;
}

.one-row:hover {
    background-color: antiquewhite;
}

.column {
    vertical-align: text-bottom;
    display: inline-block;
    padding: 15px 10px;
    box-sizing: border-box;
}

.column-1 {
    width: 40px;
    text-align: center;
}

.column-2 {
    min-width: 100px;
}

.column-3 {
    min-width: 200px;
}

.column-4 {
    width: 400px;
}

.column-5 {
    width: 500px;
}

.column-x {
    width: auto;
}