.one-row {
    width: 100%;
    border-bottom: solid 2px black;
    content: "";
    clear: both;
}

.first-row {
    width: 100%;
    border-bottom: solid 2px black;
    content: "";
    clear: both;
    background-color: lightgray;
    font-weight: bold;
}

.one-row:nth-child(2n) {
    background-color: whitesmoke;
}

.one-row:hover {
    background-color: antiquewhite;
}

.first-row,
.one-row {
    font-size: 0;
}

div .column {
    font-size: 18px;
}

.column {
    vertical-align: top;
    display: inline-block;
    padding: 15px 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.column-1 {
    width: 50px;
    text-align: center;
}

.column-2 {
    width: 110px;
}

.column-3 {
    width: 200px;
}

.column-4 {
    width: 400px;
}

.column-5 {
    width: 500px;
}

.column-x {
    width: auto;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}