.main-info {
    margin-left: 10px;
    width: 600px;
}

form.contact label {
    margin: 5px 0;
    display: block;
}

form.contact .one-row label {
    margin: 0;
}

form.contact div.main-info label input {
    float: right;
}

form.contact div.one-row label input {
    margin-left: 15px;
    display: block;
}