.main-info {
    margin-left: 10px;
    width: 600px;
}

input:focus {
    outline-color: #9e9e9e;
}

form.contact label {
    margin: 10px 0;
    display: block;
}

form.contact .one-row label {
    margin: 0;
}

form.contact div.main-info label input {
    padding: 2px;
    display: block;
    width: 166px;
    float: right;
}

form.contact div.one-row label input {
    padding: 2px;
    margin: 3px auto;
    display: block;
}

form.contact div.main-info label select {
    padding: 2px;
    display: block;
    width: 166px;
    float: right;
}

.modal-attachment-field {
    display: block;
    width: 238px;
}

.contact-photo-area {
    max-width: 500px;
    height: 200px;
    margin-bottom: 40px;
}

.contact-photo-image {
    max-height: 100%;
    cursor: pointer;
}

.hidden {
    display: none;
}


.date-filed {
    display: inline-block;
    float: right;
}

form.contact div.main-info label input.date {
    width: 56px;
    display: block;
}

form.contact div.main-info label input.date-day,
form.contact div.main-info label input.date-month{
    margin-right: 5px;
}

form.contact div.main-info label input.date-day,
form.contact div.main-info label input.date-month {
    width: 50px;
}