.main-info {
    margin-left: 10px;
    width: 600px;
}

form.contact label {
    margin: 5px 0;
    display: block;
}

form.contact .one-row label {
    margin: 0;
}

form.contact div.main-info label input {
    display: block;
    width: 150px;
    float: right;
}

form.contact div.one-row label input {
    margin-left: 15px;
    display: block;
}

form.contact div.main-info label select {
    display: block;
    width: 150px;
    float: right;
}

.modal-attachment-comment {
    display: block;
    width: 238px;
}