form {
    width: 40%;
    margin: auto;
    min-width: 370px;
}

form label {
    margin: 10px 0;
    display: block;
}

form label input {
    padding: 2px;
    display: block;
    width: 166px;
    float: right;
}

form label select {
    padding: 2px;
    display: block;
    width: 166px;
    float: right;
}