.one-row {
    width: 100%;
    border-bottom: solid 2px black;
    content: "";
    clear: both;
}

.one-row:nth-child(2n) {
    background-color: antiquewhite;
}

.one-row:hover {
    background-color: whitesmoke;
}

.column {
    display: inline-block;
    padding: 15px 10px;
    box-sizing: border-box;
}

.column-1 {
    width: 40px;
}

.column-2 {
    min-width: 12%;
}

.column-3 {
    min-width: 13%;
}

.column-4 {
    min-width: 27%;
}

.column-5 {
    min-width: 30%;
}