.send-mail-buttons {
    width: auto;
}

.send-mail-button  {
    width: 28%;
    margin-top: 10px;
    padding: 5px 2%;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px gray solid;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.send-mail-button:hover {
    background-color: antiquewhite;
}