.recipients-block {
    width: 370px;
}

.email-subject-block {
    margin-bottom: 50px;
}

.email-text-block {
    margin-bottom: 10px;
}

.send-mail-buttons {
    display: block;
    margin: 0;
}

.recipient-email {
    width: 200px;
}

.send-mail-button  {
    width: 44%;
    max-width: 200px;
    margin-top: 10px;
    padding: 5px 2%;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px gray solid;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.button-block {
    width: 360px;
    margin: 0;
}

.send-mail-button:hover {
    background-color: antiquewhite;
}

.subject-input {
    margin: 5px 0;
    padding: 5px 2%;
    display: block;
    width: 100%;
}

.email-input {
    font-family: Arial;
    resize: none;
    margin: 5px 0;
    padding: 5px 2%;
    display: block;
    width: 100%;
}