<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.zhartunmatthew.web.contactbook.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Encoding Filter</filter-name>
        <filter-class>com.zhartunmatthew.web.contactbook.filter.EncodingFilter</filter-class>
    </filter>

    <listener>
        <listener-class>com.zhartunmatthew.web.contactbook.listener.InitApplicationListener</listener-class>
    </listener>
    
    <filter-mapping>
        <filter-name>Encoding Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <resource-ref>
        <res-ref-name>jdbc/zhartun_matthew_contactbook</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/not_found.jsp</location>
    </error-page>


    <welcome-file-list>
        <welcome-file>controller</welcome-file>
    </welcome-file-list>
</web-app>
